.big1920{
     background: #E5E5E5;
     max-width: 1920px;
     max-height: 1995px;
     margin: 0 auto;
}
div{ 
     box-shadow: 1px 2px 5px #F759C8;
}
/*verhushka*/
.conteiner-up{
     max-width: 1110px;
     height: 44px;
     margin: 0 auto;
     background: #E5E5E5;
     display: flex;
     justify-content: space-between;
     align-items: center;
}

.item-up1{
     max-width: 499px;
     max-height: 18px;
     margin: 13px 0 0 0;
}

.zag-up>a{
     color: #333333;
     text-decoration: none;
     text-transform: uppercase;
     font-size: 14px;
}

.textzag{
     color: #333333;
     text-decoration: none;
     text-transform: lowercase;
     font-size: 14px;
}

.item-up2{
     display: flex;
     justify-content: space-between;
     width: 250px;
     height: 44px;
}

.imgbutton-up{
     width: 9px;
     height: 4,62px;
}
.button-up>button{
     width: 131px;
     height: 44px;
     background: #FFE8BD;
}
.button-up>a{
     font-size: 14px;
     text-decoration: none;
     color: #333333;
}


.a-enter-up{
     width: 131px;
     height: 44px;
     text-align: center;
}

.a-enter-up>a{
     font-size: 14px;
     text-decoration: none;
     color: #333333;
}

.img-enter-up{
     width: 9px;
     height: 4.62px;
}

/* header*/
.header{
     max-width: 1920px;
     max-height: 139px;
}
.header_item1{
     display: flex;
     width: 1920px;
     height: 89px;
     background-color: #FFFFFF;
}

.logo{ 
     max-width: 60px;
     max-height: 50px;
     margin: 19px 2px 20px 50px;
}
.logo-text>h3{
     text-transform: uppercase;
     font-size: 18px;
     color:#000000;
}
.color-e{
     color: #cc4433;
}

.button-header{
     margin:25px 405px 26px 815px; 
}

/*nav*/
.item2{
     max-width: 1920px;
     max-height: 50px;
     background: #FFAF1E;
     display: flex;
     justify-content: space-between;
     justify-content: center;
}
.box1{
     min-width: 150px;
     height:50px;
}
.box2{
     min-width: 150px;
     height:50px;
}
.box3{
     min-width: 150px;
     height:50px;
}
.box4{ 
     min-width: 150px;
     height:50px;
}
.box5{
     min-width: 150px;
     height:50px;
}

.item2>div a{
     color: #333333;
     text-decoration: none;
     text-transform: uppercase;
     font-size: 14px;
}

/*all*/

.all{
     max-width: 1110px;
     max-height: 1691px;
     margin: 0 auto;
}

.poisk{
     max-width: 1110px;
     height: 110px;
     padding:34px 121.31px 56px  121px;
     margin:36px 0 0 0; 
     background: #FFFFFF;}


.poiskp1{
     width: 196px;
     height: 18px;
     padding:19px 0 17px  17px;
     margin:55px 0 0 0;
     text-transform: uppercase;
     font-size: 14px;
     color:#333333;
}

.poiskp2{
     width: 160px;
     height: 18px;
     padding:19px 60px 17px  24px;
     margin:55px 0 0 0;
     text-transform: uppercase;
     font-size: 14px;
     color:#828282;
}

.div input{
     
     padding: 11px 64px 9px 12px;
     margin: 55px 0 0 0;
     font-size: 14px;
}

input{
     width: 830px;
     height: 38px;
}
.poisk-a button{
     width: 96px;
     height: 38px;
}

.zapchasti{
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
     align-items: center;
}
.img1{
     flex:2;
     width: 133px;
     height: 107px;
     padding:34px 121.31px 56px  121px;
     margin:0 80px 0 80px; 
     background: #E5E5E5;
     border: 1px solid #E4E4E4;
     box-sizing: border-box;
     box-shadow: 0px 0px 15px rgba(51, 51, 51, 0.05);
     border-radius: 3px;
}
.img2{
     flex:2;
     width: 416px;
     padding:32px 180px 56px  181px;
     height: 190px;
     background: #ffffff;
}
.img3{
     flex:1;
     width: 349px;
     padding:34px 121.31px 56px  121px;
     height: 190px;
     background: #ffffff;
}
.img4{
     flex:1;
     width: 349px;
     height: 190px;
     padding:28px 127.31px 50px  136px;
     background: #ffffff;
}
.img5{
     flex:1;
     width: 349px;
     height: 190px;
     padding: 21px 108.31px 50px  107px;
     background: #ffffff;

}
.katalog{
     display: flex;
     justify-content: space-between;
}
      
.zapchasti-text>p{
     display: flex;
     justify-content: center;
     font-size: 20px;
     text-align: center;
}
.zapchasti-img1{
     width: 208.49px;
     height: 190px;
     padding: 58px 40.49px 58px 40px;
     background: #ffffff;
 
}
.zapchasti-img2{
     width: 208.49px;
     height: 190px;
     padding: 53px 32.49px 53px 34px;
     background: #ffffff;

}
.zapchasti-img3{
     width: 146px;
     height: 80px;
     padding: 55px 31.49px 58px 40px;
     background: #ffffff;
}
.zapchasti-img4{
     width: 107.55px;
     height: 109.44px;
     padding: 40px 50.95px 40.56px 50px;
     background: #ffffff;
}
.zapchasti-img5{
     width: 109.4px;
     height: 115px;
     padding: 37px 49.09px 38px 50px;
     background: #ffffff;

mojete{
     font-size: 14px;
     text-align: center;
     color: #333333;
}

.vijevske>p{
     font-size: 20px;
     text-align: center;
     text-transform: uppercase;
     color: #333333;
}

.koordinati{
     width: 1110px;
     height: 402px;
     background: #c5c612;
}
.k1{
     display: flex;
}

.icon1-koordinati>img{
     width: 9px;
     height: 12px;
}

.itext1-koordinati{
     width: 136px;
     height: 18px;
}

.icon2-koordinati>img{
     width: 9px;
     height: 12px;
}

.itext2-koordinati{
     width: 100px;
     height: 18px;
}

.k2{
     display: flex;
}

.img-koordinati1
.i62{
     width: 492px;
     height: 316px;
}

.img-koordinati2

.i63{
     width:200px;
     height: 152.52px;
}

.i64{
     width: 200px;
     height: 149.64px;
}

.ul-kontakti

.ul-kontakti>ul{
     width: 314px;
     height: 222px;
}

.ul-kontakti>ul li{
     list-style-type: square;
}

.ul-kontakti>p{
     width: 236px;
     height: 20px;
}

.ul-kontakti>button{
     width: 181px;
     height: 38px;
}

/*footer*/
.footer{
     max-width: 1920px;
     height: 301px;
}
